block content
  h2 Edit Employee
  form(action=`/update/${employee._id}`, method="POST")
    label Name:
    input(type="text", name="name", value=employee.name, required)
    br
    label Department:
    input(type="text", name="department", value=employee.department, required)
    br
    label Email:
    input(type="email", name="email", value=employee.email, required)
    br
    label Gender:
    select(name="gender", required)
      option(value="male" selected=employee.gender === 'male') Male
      option(value="female" selected=employee.gender === 'female') Female
      option(value="other" selected=employee.gender === 'other') Other
    br
    label Location:
    input(type="text", name="location", value=employee.location, required)
    br
    button(type="submit") Update